name: "nix flake check"

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.gitlab-ci.yml'
  push:
    paths-ignore:
      - 'README.md'
      - '.gitlab-ci.yml'

env:
  CLICOLOR_FORCE: 1
  # This is yet another workaround for socket paths that are too long in the test suite, e.g.
  # /nix/var/nix/builds/nix-build-qemu-esp32-9.2.2-20250817.drv-4988-2517995168/netdev-socket.VCDKB3/su_reconnect
  # where 'su' is already shortened from 'stream_unix' via a substitution in the build.
  #
  # Before nix v2.30, this was
  # /private/tmp/nix-build-qemu-esp32-9.2.2-unstable-2025-06-24.drv-0/netdev-socket.Q7TX92/stream_unix_reconnect
  # The new default from nix v2.30 onwards is $NIX_STATE_DIR/builds,
  # i.e. /nix/var/nix/builds . Just shrink that path by using /nix/b .
  #
  # TODO: Remove this after nix v2.32: https://github.com/NixOS/nix/pull/13839
  NIX_CONFIG: "build-dir = /nix/b"

jobs:
  nix-flake-check:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
      fail-fast: false
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Flake metadata
      run: |
        nix flake metadata
        nix flake show

    - name: Flake check
      run: |
        nix flake check -L --max-jobs 1

    - name: Run qemu-espressif
      run: |
        nix run . -- --version
        nix run . -- --machine help

    - name: Build from overlay without flake
      run: |
        for v in espressif esp32 esp32c3; do
          NIX_PATH=$NIX_PATH:nixpkgs-overlays=$(pwd)/overlays.nix \
          nix-build \
            https://github.com/NixOS/nixpkgs/archive/$(grep rev flake.lock | sed 's/^.*: //' | sed -e 's/"//g' -e 's/,//').tar.gz \
            --attr qemu-${v}${m}
          for exe in ./result/bin/qemu-system-*; do
            echo ${exe}
            ${exe} --version
            ${exe} --machine help
            if [ ${exe} = qemu-system-riscv32 ]; then
              ${exe} --machine help | grep '^esp32c3 ' || (echo ERROR: Did not find expected architecture 'esp32c3'; exit 1)
            elif [ ${exe} = qemu-system-xtensa ]; then
              ${exe} --machine help | grep '^esp32 ' || (echo ERROR: Did not find expected architecture 'esp32'; exit 1)
              ${exe} --machine help | grep '^esp32s3 ' || (echo ERROR: Did not find expected architecture 'esp32s3'; exit 1)
            fi
          done
        done

    - name: Build debug build
      run: |
        nix build --impure --expr '(builtins.getFlake (toString ./.)).outputs.packages.${builtins.currentSystem}.default.override { enableDebug = true; }' -o gcroots/qemu-debug -L

    - name: Formatter check
      run: |
        nix fmt -- --version
        nix fmt -- -vv --tree-root-file flake.nix --ci
